src/main/resources/gambol.xsd

<?xml version="1.0"?>

<xs:schema version="1.0"
           targetNamespace="http://sandum.net/namespaces/gambol"
           xmlns:g="http://sandum.net/namespaces/gambol"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="2.1"
           
           xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
           jaxb:extensionBindingPrefixes="xjc">

    <xs:element name="gambol">     
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="section" minOccurs="0" maxOccurs="unbounded" type="g:Section"/>
                </xs:sequence>
                <xs:element name="tournament" type="g:Tournament_temp" />
                <!--xs:element name="fixture" type="g:Fixture" /-->
                <xs:element name="gamesheet" type="g:Gamesheet" />
            </xs:choice>
        
            <xs:attribute name="season" type="xs:string" />
        </xs:complexType>
    </xs:element>     

    <xs:element name="fixtures">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fixture" minOccurs="0" maxOccurs="unbounded" type="g:Fixture"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>     

    <xs:element name="tournament-source">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="fixtures">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="fixture" minOccurs="0" maxOccurs="unbounded" type="g:Fixture"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>     
            </xs:sequence>
        </xs:complexType>
    </xs:element>     

    <xs:element name="club">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" />
                
                <xs:element name="address" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="lat" type="xs:double" />
                                <xs:attribute name="lon" type="xs:double" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                
            </xs:sequence> 
            
            <xs:attribute name="country" type="xs:string" />
        </xs:complexType>
    </xs:element>
        
    <xs:complexType name="Section">
        <xs:sequence>
            <xs:element name="title" minOccurs="1" maxOccurs="1" type="xs:string"/>
            <xs:element name="tournament" minOccurs="0" maxOccurs="unbounded" type="g:Tournament_temp"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tournament_temp">
        <xs:sequence>
            <xs:element name="title" minOccurs="1" maxOccurs="1" type="xs:string" />
            <xs:element name="fixture" minOccurs="0" maxOccurs="unbounded" type="g:Fixture" />
        </xs:sequence>
 
        <xs:attribute name="season" type="xs:string" />
        <xs:attribute name="association" type="xs:string" />
        <xs:attribute name="source-ref" type="xs:string" use="required" />
    </xs:complexType>

    <xs:element name="tournament">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" minOccurs="1" maxOccurs="1" type="xs:string" />
                <xs:element name="fixture" minOccurs="0" maxOccurs="unbounded" type="g:Fixture" />
            </xs:sequence>

            <xs:attribute name="season" type="xs:string" />
            <!-- xs:attribute name="association" type="xs:string" / -->
            <xs:attribute name="source-ref" type="xs:string" use="required" />
            <xs:attribute name="slug" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Used only for tournament source uploads
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- xs:element name="fixture" -->
    <xs:complexType name="Fixture">
        <xs:sequence>
            <xs:element name="side" minOccurs="2" maxOccurs="2" type="g:Side" />

            <xs:element name="start-time" minOccurs="1" maxOccurs="1" type="xs:dateTime"/>
            <xs:element name="end-time" minOccurs="1" maxOccurs="1" type="xs:dateTime"/>
            <xs:element name="location" minOccurs="1" maxOccurs="1" type="xs:string"/>
            <xs:element name="result" minOccurs="0" maxOccurs="1">
            </xs:element>
        </xs:sequence>

        <xs:attribute name="match-number" type="xs:string" />
        <xs:attribute name="source-ref" type="xs:string" />
        <xs:attribute name="tournament-ref" type="xs:string" />
        <xs:attribute name="season" type="xs:string" />
        <xs:attribute name="schedule" type="g:ScheduleStatus" />
    </xs:complexType>
    <!-- /xs:element -->

    <xs:simpleType name="FixtureSideRole" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="home" />
            <xs:enumeration value="away" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ScheduleStatus" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none" />
            <xs:enumeration value="tentative" />
            <xs:enumeration value="confirmed" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="GameOffense" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRIP" />
            <xs:enumeration value="ROUGH" />
            <xs:enumeration value="SLASH" />
            <xs:enumeration value="HOOK" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="GameSituation" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EQ" />
            <xs:enumeration value="PP1" />
            <xs:enumeration value="PP2" />
            <xs:enumeration value="SH1" />
            <xs:enumeration value="SH2" />
        </xs:restriction>
    </xs:simpleType>
          
    <xs:complexType name="Side">
        <xs:sequence>
            <xs:element name="team" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="club-ref" type="xs:string" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="score" minOccurs="0" maxOccurs="1" type="xs:integer" />
        </xs:sequence> 
 
        <xs:attribute name="role" type="g:FixtureSideRole" />
    </xs:complexType>
        
    <xs:complexType name="Gamesheet">
        <xs:sequence>
            <xs:element name="roster" minOccurs="2" maxOccurs="2" type="g:Roster" />
            <xs:element name="events">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="goal" type="g:GoalEvent" />
                        <xs:element name="penalty" type="g:PenaltyEvent" />
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Roster">
        <xs:sequence>
            <xs:element name="player" minOccurs="0" maxOccurs="unbounded" type="g:Player" />
        </xs:sequence> 
 
        <xs:attribute name="side" type="g:FixtureSideRole" />
    </xs:complexType>

    <xs:complexType name="Player">
        <xs:sequence>
            <xs:element name="first-names" type="xs:string" />
            <xs:element name="last-name" minOccurs="0" type="xs:string" />
        </xs:sequence> 
        <xs:attribute name="number" type="xs:positiveInteger" />
        <xs:attribute name="line" type="xs:string" />
        <xs:attribute name="pos" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="PlayerRef">
        <xs:attribute name="number" type="xs:positiveInteger" />
    </xs:complexType>

    <xs:complexType name="Event">
        <xs:sequence>
            <xs:element name="time" type="xs:string" />
            <xs:element name="player" type="g:PlayerRef" />
        </xs:sequence> 
        
        <xs:attribute name="side" type="g:FixtureSideRole" />
    </xs:complexType>

    <xs:complexType name="GoalEvent">
        <xs:complexContent>
            <xs:extension base="g:Event">
                <xs:sequence>
                    <xs:element name="assist" type="g:PlayerRef" minOccurs="0" maxOccurs="3" />
                    <xs:element name="participation">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="positive" type="g:Participants" />
                                <xs:element name="negative" type="g:Participants" />                                
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>                    
                </xs:sequence>

                <xs:attribute name="game-situation" type="g:GameSituation" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Participants">
        <xs:sequence>
            <xs:element name="player" type="g:PlayerRef" minOccurs="0" maxOccurs="6" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PenaltyEvent">
        <xs:complexContent>
            <xs:extension base="g:Event">
                <xs:sequence>
                    <xs:element name="minutes" type="xs:string" />
                    <xs:element name="offense" type="g:GameOffense" />
                    <xs:element name="end-time" type="xs:string" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


</xs:schema>